<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.swu.bookdiary">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Calender형"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookDiary">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" android:label="Login"/>
        <activity android:name=".MemoActivity" android:label="List형"/>
        <activity android:name=".ClickDate" android:label="BOOK LIST"/>
        <activity android:name=".SignUp" android:label="SignUp"/>
       <!-- <activity android:name=".SignUp" android:label="SignUp"/>-->
        <activity android:name=".My" android:label="MY"/>

    </application>

</manifest>